# Hands-On Pertemuan 11: Advanced MongoDB Operations and Data Query

## Objectives:
- Dive into advanced query operations and aggregation pipelines in MongoDB.
- Enhance skills in filtering, grouping, and analyzing data with MongoDB.
- Master complex MongoDB operations for real-world data scenarios.

### 1. Advanced CRUD Operations
- **Exercise 1**: Use `bulk_write` to insert, update, and delete multiple documents simultaneously.
- **Task 1**: Insert a dataset of `courses` where each course has multiple student enrollments, then display the data.

In [1]:
!curl ifconfig.me

34.173.189.238

In [5]:
!pip install pymongo
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

# Establish client connection
client = MongoClient('')
db = client['university_db']
courses_collection = db['courses']

# Bulk insert of courses with student enrollments
operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'})
]
courses_collection.bulk_write(operations)
print('Courses inserted successfully.')

Requirement already satisfied: pymongo in /usr/local/lib/python3.10/dist-packages (4.10.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo) (2.7.0)
Courses inserted successfully.

In [6]:
# Bulk Write: Insert, Update, dan Delete
operations = [

    # Update enrollments untuk Physics 202
    UpdateOne({'course': 'Physics 202'}, {'$set': {'enrollments': 18}}),

    # Delete History 201
    DeleteOne({'course': 'History 201'})
]

# Menjalankan operasi bulk
result = courses_collection.bulk_write(operations)
print("Bulk Write Operation Complete:")
print(f"Inserted: {result.inserted_count}, Updated: {result.modified_count}, Deleted: {result.deleted_count}")

# Menampilkan semua data yang ada setelah operasi
print("\nCurrent Data in Courses Collection:")
for course in courses_collection.find():
    print(course)

Bulk Write Operation Complete:
Inserted: 0, Updated: 1, Deleted: 1

Current Data in Courses Collection:
{'_id': ObjectId('675eaa5f9e8dddf665b054d0'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('675eaa5f9e8dddf665b054d1'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('675eaa5f9e8dddf665b054d3'), 'course': 'Physics 202', 'enrollments': 18, 'department': 'Physics'}

In [7]:
# Insert data ke collection
insert_result = courses_collection.insert_many(courses_data)
print("Task 1: Courses Dataset Inserted Successfully.\n")

# Menampilkan data setelah insert
print("Current Data in Courses Collection:")
for course in courses_collection.find():
    print(course)

Task 1: Courses Dataset Inserted Successfully.

Current Data in Courses Collection:
{'_id': ObjectId('675eaa5f9e8dddf665b054d0'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('675eaa5f9e8dddf665b054d1'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('675eaa5f9e8dddf665b054d3'), 'course': 'Physics 202', 'enrollments': 18, 'department': 'Physics'}
{'_id': ObjectId('675ea95b9e8dddf665b054cb'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('675ea95b9e8dddf665b054cc'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('675ea95b9e8dddf665b054cd'), 'course': 'Physics 202', 'enrollments': 18, 'department': 'Physics'}
{'_id': ObjectId('675ea95b9e8dddf665b054ce'), 'course': 'Chemistry 203', 'enrollments': 22, 'department': 'Chemistry'}

### 2. Complex Filtering and Querying
- **Exercise 2**: Filter courses with enrollments over 20 students.
- **Task 2**: Retrieve and display courses only from the 'Computer Science' or 'Mathematics' departments.

In [8]:
# Query for courses with enrollments greater than 20
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)

{'_id': ObjectId('675eaa5f9e8dddf665b054d0'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('675eaa5f9e8dddf665b054d1'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('675ea95b9e8dddf665b054cb'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('675ea95b9e8dddf665b054cc'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('675ea95b9e8dddf665b054ce'), 'course': 'Chemistry 203', 'enrollments': 22, 'department': 'Chemistry'}

In [9]:
# Query courses in Computer Science or Mathematics departments
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(course)

{'_id': ObjectId('675eaa5f9e8dddf665b054d0'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('675eaa5f9e8dddf665b054d1'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('675ea95b9e8dddf665b054cb'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('675ea95b9e8dddf665b054cc'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

### 3. Aggregation Framework for Data Analysis
- **Exercise 3**: Use aggregation to find the average enrollment per department.
- **Task 3**: Create an aggregation pipeline that finds the maximum enrollment for each department.

In [10]:
# Average enrollment per department using aggregation
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Physics', 'average_enrollment': 18.0}
{'_id': 'Chemistry', 'average_enrollment': 22.0}
{'_id': 'Computer Science', 'average_enrollment': 25.0}
{'_id': 'Mathematics', 'average_enrollment': 30.0}

In [11]:
# Maximum enrollment per department
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Physics', 'max_enrollment': 18}
{'_id': 'Mathematics', 'max_enrollment': 30}
{'_id': 'Chemistry', 'max_enrollment': 22}
{'_id': 'Computer Science', 'max_enrollment': 25}

### 4. Data Transformation using $project and $addFields
- **Exercise 4**: Use `$project` to rename and only show fields: `course_name`, `department_name`, and `enrollments`.
- **Task 4**: Use `$addFields` to create a new field `enrollment_category` where enrollments > 20 are 'high' and others 'low'.

In [12]:
# Projection to rename fields
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('675eaa5f9e8dddf665b054d0'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('675eaa5f9e8dddf665b054d1'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('675eaa5f9e8dddf665b054d3'), 'enrollments': 18, 'course_name': 'Physics 202', 'department_name': 'Physics'}
{'_id': ObjectId('675ea95b9e8dddf665b054cb'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('675ea95b9e8dddf665b054cc'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('675ea95b9e8dddf665b054cd'), 'enrollments': 18, 'course_name': 'Physics 202', 'department_name': 'Physics'}
{'_id': ObjectId('675ea95b9e8dddf665b054ce'), 'enrollments': 22, 'course_name': 'Chemistry 203', 'department_name': 'Chemistry'}

In [13]:
# Adding enrollment category field based on enrollments
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('675eaa5f9e8dddf665b054d0'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('675eaa5f9e8dddf665b054d1'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('675eaa5f9e8dddf665b054d3'), 'course': 'Physics 202', 'enrollments': 18, 'department': 'Physics', 'enrollment_category': 'low'}
{'_id': ObjectId('675ea95b9e8dddf665b054cb'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('675ea95b9e8dddf665b054cc'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('675ea95b9e8dddf665b054cd'), 'course': 'Physics 202', 'enrollments': 18, 'department': 'Physics', 'enrollment_category': 'low'}
{'_id': ObjectId('675ea95b9e8dddf665b054ce'), 'course': 'Chemistry 203', 'enrollments': 22, 'department': 'Chemistry', 'enrollment_category': 'high'}

### Homework for Students
- **Homework 1**: Perform an aggregation to get a count of courses per department.
- **Homework 2**: Use `$match` and `$group` together to filter and get only courses with enrollments over 25 in 'Computer Science'.
- **Homework 3**: Apply `$lookup` to join `courses` collection with `students` collection based on student enrollments.

In [14]:
# Aggregation pipeline untuk menghitung jumlah kursus per department
pipeline = [
    {
        '$group': {
            '_id': '$department',
            'total_courses': {'$sum': 1}
        }
    }
]

print("Total courses per department:")
for result in courses_collection.aggregate(pipeline):
    print(result)

Total courses per department:
{'_id': 'Physics', 'total_courses': 2}
{'_id': 'Mathematics', 'total_courses': 2}
{'_id': 'Chemistry', 'total_courses': 1}
{'_id': 'Computer Science', 'total_courses': 2}

In [15]:
# Aggregation pipeline dengan $match dan $group
pipeline = [
    {
        '$match': {
            'enrollments': {'$gt': 25},
            'department': 'Computer Science'
        }
    },
    {
        '$group': {
            '_id': '$department',
            'filtered_courses_count': {'$sum': 1}
        }
    }
]

print("\nCourses with enrollments > 25 in 'Computer Science':")
for result in courses_collection.aggregate(pipeline):
    print(result)

Courses with enrollments > 25 in 'Computer Science':

In [16]:
# Sample data untuk koleksi students (jika belum ada)
students_collection = db['students']
students_collection.insert_many([
    {'name': 'Alice', 'course': 'Math 101'},
    {'name': 'Bob', 'course': 'CS 102'},
    {'name': 'Charlie', 'course': 'History 201'},
    {'name': 'David', 'course': 'CS 102'}
])

# Aggregation pipeline menggunakan $lookup
pipeline = [
    {
        '$lookup': {
            'from': 'students',       # Koleksi yang akan di-join
            'localField': 'course',   # Field di koleksi courses
            'foreignField': 'course', # Field di koleksi students
            'as': 'enrolled_students' # Nama output join
        }
    }
]

print("\nCourses with enrolled students (joined with students collection):")
for result in courses_collection.aggregate(pipeline):
    print(result)

Courses with enrolled students (joined with students collection):
{'_id': ObjectId('675eaa5f9e8dddf665b054d0'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrolled_students': [{'_id': ObjectId('675eb1259e8dddf665b054d4'), 'name': 'Alice', 'course': 'Math 101'}]}
{'_id': ObjectId('675eaa5f9e8dddf665b054d1'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrolled_students': [{'_id': ObjectId('675eb1259e8dddf665b054d5'), 'name': 'Bob', 'course': 'CS 102'}, {'_id': ObjectId('675eb1259e8dddf665b054d7'), 'name': 'David', 'course': 'CS 102'}]}
{'_id': ObjectId('675eaa5f9e8dddf665b054d3'), 'course': 'Physics 202', 'enrollments': 18, 'department': 'Physics', 'enrolled_students': []}
{'_id': ObjectId('675ea95b9e8dddf665b054cb'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrolled_students': [{'_id': ObjectId('675eb1259e8dddf665b054d4'), 'name': 'Alice', 'course': 'Math 101'}]}
{'_id': ObjectId('675ea95b9e8dddf665b054cc'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrolled_students': [{'_id': ObjectId('675eb1259e8dddf665b054d5'), 'name': 'Bob', 'course': 'CS 102'}, {'_id': ObjectId('675eb1259e8dddf665b054d7'), 'name': 'David', 'course': 'CS 102'}]}
{'_id': ObjectId('675ea95b9e8dddf665b054cd'), 'course': 'Physics 202', 'enrollments': 18, 'department': 'Physics', 'enrolled_students': []}
{'_id': ObjectId('675ea95b9e8dddf665b054ce'), 'course': 'Chemistry 203', 'enrollments': 22, 'department': 'Chemistry', 'enrolled_students': []}